    <footer class="footer text-white bg-dark p-sm-3 mb-0 w-100" style="position:absolute;bottom:0;">
        <div class="container">
            <div class="text-center">
                 © Silicon Zone Inc &nbsp | &nbsp Nanyang Polytechnic &nbsp | &nbsp School of Information Technology
            </div>
        </div>
    </footer>
</div>
