    <footer class="footer text-white text-center bg-dark p-3 mb-0 w-100" style="position:absolute;bottom:0;">
        <div class="container">
            <span>Silicon Zone Inc</span>
            <br>
            <span>ITP211 Object Oriented Analysis and Design Project</span>
            <br>
            <span>Nanyang Polytechnic</span>
            <br>
            <span>School of Information Technology</span>
        </div>
    </footer>
</div>
