<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.3/js/mdb.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0/css/tempusdominus-bootstrap-4.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.7/js/jquery.tablesorter.js"></script>
<div class="master-wrapper" style="background: #e0e0e0; min-height: 100vh;position: relative;height:100%; padding-top:100px">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark pb-0 pt-0">
        <div class="container  justify-content-between" style="padding-left: 15px;padding-right: 15px">
            <a class="navbar-brand pr-lg-4" href="/" style="font-size:36px;font-weight: 900">Silicon Zone</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 pl-lg-5 pr-lg-5">
                            <form class="row mt-3">
                                <input class="col-10 border border-dark border-right-0 rounded-left" id="masterSearch" type="search" placeholder="Search" aria-label="Search" style="border-radius:10em 0 0 10rem!important;"/>
                                <style>
                                    #masterSearch:focus {
                                        outline: 0;
                                    }
                                    #searchIcon{
                                        transition: color 0.3s;
                                    }
                                </style>
                                <script>
                                    $("#masterSearch").focus(()=>{
                                        $("#searchIcon").addClass("text-warning")
                                    })
                                    $("#masterSearch").blur(()=>{
                                        $("#searchIcon").removeClass("text-warning")
                                    })
                                </script>
                                <button class="col-2 p-0 border border-dark border-left-0 rounded-right bg-white text-right" type="submit" style="border-radius:0 10em 10rem 0!important;">
                                    <i id="searchIcon" class="material-icons" style="font-size: 42px;vertical-align:-12px;">search</i>
                                </button>
                            </form>
                            <div class="row text-lg-cente">
                                <ul class="navbar-nav w-100" style="font-size:15px;">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Category
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Processors</a>
                                            <a class="dropdown-item" href="#">Memory</a>
                                            <a class="dropdown-item" href="#">MotherBoard</a>
                                            <a class="dropdown-item" href="#">Graphic Card</a>
                                            <a class="dropdown-item" href="#">Fans & Cooling</a>
                                            <a class="dropdown-item" href="#">Power Supplies</a>
                                            <a class="dropdown-item" href="#">Computer Case</a>
                                            <a class="dropdown-item" href="#">Storage</a>
                                            <a class="dropdown-item" href="#">Optical Drive</a>
                                            <a class="dropdown-item" href="#">Mouse</a>
                                            <a class="dropdown-item" href="#">Keyboard</a>
                                            <a class="dropdown-item" href="#">Monitor</a>
                                        </div>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Popular</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Taobao Collection</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 p-0 pl-lg-3">
                            <% if (user) { %>
                            <div class="row m-0" id="desktopView">
                                <a href="/cart" class="col-3 p-0">
                                    <div class="text-white text-center">
                                        <i class="material-icons" style="font-size:36px;padding-top: 30px">
                                            shopping_cart
                                        </i>
                                        <% if (cartNum==0) { %>
                                        <small class="text-white bg-warning font-weight-bold sr-only" id="carNum" style="height:20px;width:20px;border-radius:100%;position:absolute;top:20px;right:10px;"><%=cartNum%></small>
                                        <% } else { %>
                                        <small class="text-white bg-warning font-weight-bold" id="carNum" style="height:20px;width:20px;border-radius:100%;position:absolute;top:20px;right:10px;"><%=cartNum%></small>
                                        <% } %>
                                    </div>
                                </a>
                                <a href="#" class="col-3 p-0">
                                    <div class="text-white text-center">
                                        <i class="material-icons" style="font-size:36px;padding-top: 30px">
                                            chat
                                        </i>
                                    </div>
                                </a>
                                <style>
                                    #dropdownMenu{
                                        top:100px;
                                        margin-left: -50px!important;
                                        margin-right: -50px!important;
                                        width: 240px;
                                    }
                                    .avatar{
                                        border:2px solid lightgrey;
                                        position: absolute;
                                        z-index: 3000;
                                        height:50px;
                                        left:42px;
                                        top:0;
                                        box-shadow: 0 0 0 lightgrey;
                                        transition: left 0.3s, top 0.3s, box-shadow 0.3s, height 0.3s
                                    }
                                    .avatar.active{
                                        height:90px;
                                        top:32px;
                                        left:30px;
                                        box-shadow: 0 0 30px #f80;
                                    }
                                    #mobileView{
                                        display: none;
                                    }
                                    @media (max-width: 1200px) { 
                                        #dropdownMenu{
                                            width: 200px;
                                        }
                                        .avatar{
                                            left: 25px;
                                        }
                                        .avatar.active{
                                            left: 10px;
                                        }
                                    }
                                    @media (max-width: 992px) { 
                                        #dropdownMenu{
                                            margin:0!important;
                                            width: 100%!important;
                                        }
                                        .avatar{
                                            left: 142px;
                                        }
                                        .avatar.active{
                                            left: 130px;
                                        }
                                        #mobileView{
                                            display: block;
                                        }
                                        #desktopView{
                                            display: none;
                                        }
                                    }
                                    #gravatarDropdown a i{
                                        vertical-align: -7px;
                                        padding-right: 20px;
                                    }
                                    #gravatarDropdown a{
                                        display: block;
                                        color:#495057;
                                    }
                                    #dropdownItems:hover{
                                        color:#f80!important;
                                        background: #EEEEEE;
                                    }
                                    #dropdownLogout{
                                        color:#9e9e9e!important;
                                        background: #e0e0e0;
                                        text-align: center;
                                        font-size: 0.8rem;
                                    }
                                    #dropdownLogout:hover{
                                        color:red!important;
                                    }
                                </style>
                                <div class="col-6 text-center p-0" style="height: 100px;">
                                    <div class="dropdown"  id="gravatarDropdown" >
                                        <a href="/profile" data-toggle="dropdown" style="display:block;height:100px">
                                            <img id="avatar" class="rounded-circle p-0 mt-4 mb-4 avatar" src="<%= avatar %>" alt="avatar" />
                                        </a>
                                        <ul id="dropdownMenu" class="dropdown-menu p-0 m-0 text-center" style="font-size:1rem!important;box-shadow:0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);border:0;min-width:0;">
                                            <li class="pt-5">
                                                <a id="dropdownItems" class="p-3 mt-3" href="/profile">
                                                    <div class="text-left m-auto" style="max-width: 150px">
                                                        <i class="material-icons pr-xl-4">account_circle</i> My Profile
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a id="dropdownItems" class="p-3" href="/orderhistory">
                                                    <div class="text-left m-auto" style="max-width: 150px">
                                                        <i class="material-icons pr-xl-4">local_shipping</i> My Orders
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a id="dropdownItems" class="p-3" href="/Wallet">
                                                    <div class="text-left m-auto" style="max-width: 150px">
                                                        <i class="material-icons pr-xl-4">account_balance_wallet</i> My Wallet
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a id="dropdownItems" class="p-3" href="/wishlistmanager">
                                                    <div class="text-left m-auto" style="max-width: 150px">
                                                        <i class="material-icons pr-xl-4">favorite</i> My Wishlist
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a id="dropdownItems" class="p-3" href="/reviews">
                                                    <div class="text-left m-auto" style="max-width: 150px">
                                                        <i class="material-icons pr-xl-4">reply_all</i> My Review
                                                    </div>
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <a id="dropdownItems" class="p-3" href="/productsmanager">
                                                <div class="text-left m-auto" style="max-width: 150px">
                                                    <i class="material-icons pr-xl-4">view_list</i> My Product
                                                </div>
                                            </a>
                                            <a id="dropdownLogout" class="p-3 bg-light-grey" href="/logout"><i class="material-icons pr-3">power_settings_new</i> Logout</a>
                                        </ul>
                                    </div>
                                    <script>
                                         $('#gravatarDropdown').hover(function() { 
                                            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(300);
                                            $('#avatar').delay(200).addClass("active");
                                        }, 
                                        function(){ 
                                            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(300);
                                            $('#avatar').delay(200).removeClass("active");
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="row m-0 text-white text-center" id="mobileView">
                                <ul class="navbar-nav text-left">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/reviews">My review</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/productsmanager">My Products</a>
                                    </li>
                                </ul>
                                <div class="row pt-3 pb-3">
                                    <div class="col-3">
                                        <i class="material-icons" style="font-size:50px">
                                            shopping_cart
                                        </i>
                                    </div>
                                    <div class="col-3">
                                        <i class="material-icons" style="font-size:50px">
                                            chat
                                        </i>
                                    </div>
                                    <div class="col-3">
                                        <i class="material-icons" style="font-size:50px">
                                            favorite
                                        </i>
                                    </div>
                                    <div class="col-3">
                                        <i class="material-icons" style="font-size:50px">
                                            account_circle
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <% } else {  %>
                            <div class="container pt-4 pb-4" style="height: 100px;">
                                <div class="row justify-content-end">
                                    <div class="col-3 pt-3 pl-0 font-weight-bold">
                                        <a class="text-white" href="/login">LOGIN</a>
                                    </div>
                                    <a class="col pr-0" href="/signup">
                                        <button type="button" class="btn btn-warning btn-block rounded font-weight-bold waves-effect waves-light" style="font-size:1rem;-webkit-border-radius:10em!important;border-radius:10em!important;"
                                            href="/signup">SIGN UP</button>
                                    </a>
                                </div>
                            </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    