<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Bootstrap core CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<!-- Material Design Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.4/css/mdb.min.css" rel="stylesheet">
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.3/js/mdb.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<div class="master-wrapper" style="background: #e0e0e0; min-height: 100vh;position: relative;height:100%;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center pb-0 pt-0">
        <div class="container justify-content-between" >
            <a class="navbar-brand pr-5" href="/" style="font-size:36px;font-weight: 900">ITP211</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col">
                            <form class="row mt-3">
                                <input class="col col-7 col-lg-9 border border-dark border-right-0 rounded-left " type="search" placeholder="Search" aria-label="Search" />
                                <button class="col pr-1 pl-0 border border-dark border-left-0 rounded-right bg-white text-right" type="submit">
                                    <i class="material-icons" style="font-size: 42px;vertical-align:-12px;">search</i>
                                </button>
                                <div class="col text-white text-center">
                                    <i class="material-icons" style="font-size:30px;padding-top:8px;">
                                        shopping_cart
                                    </i>
                                </div>
                            </form>
                            <div class="row text-lg-cente">
                                <ul class="navbar-nav w-100" style="font-size:15px;">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            Category
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="#">Features</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Popular</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Taobao Collection</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <% if (user) { %>
                        <div class="col-lg-2 mt-lg-4 mb-3 pr-0 pl-lg-5">

                        </div>
                        <% } else {  %>
                        <div class="col-lg-4 mt-lg-4 mb-3 pr-0 pl-lg-5">
                            <div class="row justify-content-end">
                                <div class="col-3 pt-3 pl-1 font-weight-bold"><a class="text-white" href="/login">LOGIN</a></div>
                                <a class="col" href="/signup"><button type="button" class="btn btn-secondary btn-block rounded font-weight-bold waves-effect waves-light" style="font-size:1rem;-webkit-border-radius:10em!important;border-radius:10em!important;" href="/signup">SIGN UP</button></a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    