<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<style>
    #customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
<body>
    <% include ../partials/header %>
    <div class="container">
    <form id="createPaymentDetails" name="PayD" class="pl-lg-3 pr-lg-3" action="/payment/createPaymentDetails" method="post">
            <div class="card mt-5 justify-content-center text-center">
                <div class="row">
                    <div class="p-5 text-left m-md-5">
                        <h1 class="font-weight-light mt-3 mb-5">
                            Create Your Payment Details
                        </h1>   
                        <div class="form-body">
                            <form method="post" id="paymentdetails" action="">
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label for="cardHolderName">Cardholder Name</label>
                                        <input type="text" id="cardHolderName" name="cardHolderName" class="form-control" placeholder="" required="true">
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label for="cardNumber">Card Number</label>
                                        <input type="text" id="cardNumber" name="cardNumber" class="form-control" placeholder="" required="true">
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label for="cardType">Card Type</label>
                                        <select class="form-control" id="cardType" name="cardType" placeholder="" required="true">
                                                <option value=""></option>
                                                <option value="Visa">Visa</option>
                                                <option value="MasterCard">MasterCard</option>
                                                <option value="JCB">JCB</option>
                                                <option value="Diners Club">Diners Club</option>
                                                <option value="Discover">Discover</option>
                                                <option value="American Express">American Express</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label for="securityCode">Security Code</label>
                                        <input type="password" id="securityCode" name="securityCode" class="form-control" placeholder="" required="true">
                                    </fieldset>
                                </div>
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <label for="expiryDate">Expiry Date</label>
                                        <input type="month" id="expiryDate" name="expiryDate" class="form-control" placeholder="" required="true">
                                    </fieldset>
                                </div>
                                <button type="submit" value="submit" class="btn btn-success btn-lg" onclick="return validate()">Save</button>
                                <a href="/payment">
                                    <button type="button" class="btn btn-secondary btn-lg">
                                    Back to my payment
                                    </button>
                                </a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function validate() {
            empty();
            if (checkCardNum() && checkDate() == true) {
                return true;
            }
            else {
                return false;
            }
        };
        function empty() {
            var cardHolderName = $("#cardHolderName").val();
            var cardNumber = $("#cardNumber").val();
            var securityCode = $("#securityCode").val();
            var expiryDate = $("#expiryDate").val();
            var cardType = $("#cardType").val();
            if (cardHolderName=="" || cardNumber=="" || securityCode=="" || expiryDate=="") {
                alert("One or more fields is empty!");
            }
            else if (cardType==null || cardType=="") {
                alert("Card Type is not selected!");
            }
            else {
                checkCardNum();
            }
        };
        function checkCardNum() {
            var cardNumStr = $("#cardNumber").val();
            var sum = 0;
            var multiplyTwo = false;
            var valid = '';
            var mod = 0;
            for (var i = cardNumStr.length-1; i >= 0; i--) {
                var currDigit = parseInt(cardNumStr[i]);

                if (multiplyTwo) {
                    if ((currDigit*2) > 9) {
                        sum += (currDigit*2) - 9;
                    }
                    else {
                        sum += (currDigit*2);
                    }
                }
                else {
                    sum += currDigit;
                }
                var multiplyTwo =! multiplyTwo;//change from false to true and vice versa
            }
            console.log(sum);
            mod = (sum % 10);
            console.log(mod);
            if (mod == 0) {
                valid = 'valid';
                checkDate();
                return true;
            }
            else {
                valid = 'invalid';
                alert("You have entered an invalid credit card number!");
                // return false;
            }
            console.log(valid);
        };
        function checkDate() {
            var d = new Date();
            var currYear = d.getFullYear();
            var currMonth = d.getMonth() + 1;
            
            var dateStr = $("#expiryDate").val();
            var monthInt = parseInt(dateStr.slice(-2));
            var yearInt = parseInt(dateStr.substr(0,4));
            
            if (yearInt < currYear) {
                // return false;
                alert("Expiry Date is invalid!");
            }
            else if (yearInt == currYear && monthInt < currMonth) {
                // return false;
                alert("Expiry Date is invalid!");
            }
            else {
                return true;
            }
        };
    </script>
    <% include ../partials/footer %>
</body>
</html>