<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div class="container mt-5">
        <div class="card m-auto" style="max-width: 500px">
            <div class="h1 text-center text-white p-5 mb-5" style="background-image:linear-gradient(40deg,#ffd86f,#fc6262)!important;">LOG IN</div>
            <div class="card-body p-0">
                <form id="login" name="login" class="pl-lg-3 pr-lg-3" action="/login" method="post">
                    <div class="pl-5 pr-5">
                        <% if (message.length > 0) { %>
                            <div class="text-danger mb-5" role="alert">
                                <i class="material-icons pr-2"  style="font-size: 1.8rem;vertical-align: -8px;">
                                    error_outline
                                </i>
                                <%= message %>
                            </div>
                        <% } %>
                        <div class="md-form">
                            <i class="prefix grey-text material-icons">
                                email
                            </i>
                            <input type="email" id="email" name="email" class="form-control">
                            <label for="email" class="font-weight-light">Your email</label>
                        </div>
                        <div class="md-form">
                            <i class="prefix grey-text material-icons">
                                lock
                            </i>
                            <input type="password" id="password" name="password" class="form-control">
                            <label for="password" class="font-weight-light">Your password</label>
                        </div>
                        <p class="font-small grey-text d-flex justify-content-end">Forgot
                            <a href="#" class="dark-grey-text ml-1 font-weight-bold"> Password?</a>
                        </p>
                        <div class="row d-flex align-items-center mb-5 mt-5">
                            <div class="col-md-4 d-flex align-items-start">
                                <div class="text-center">
                                    <button type="submit" id="loginBtn" class="btn btn-warning btn-rounded z-depth-1a waves-effect waves-light" style="font-size:1rem;-webkit-border-radius:10em!important;border-radius:10em!important;">LOGIN</button>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="font-small grey-text d-flex justify-content-end mt-3">Don't have an account ?
                                    <a href="/signup" class="dark-grey-text ml-1 font-weight-bold"> Sign Up</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <% include ../partials/footer %>
</body>
</html>
