<!DOCTYPE html>
<html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
<% include ../partials/header %>
    <div class="container">
        <%=product%>
    </div>
<% include ../partials/footer %>
</body>
</html>