<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div class="container">
        <%= user.username %>
        <img src="<%= avatar %>" alt="avatar">
    </div>
        <% include ../partials/footer %>
    </body>
    </html>
