<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <% include ../partials/header %>
        <div class="container mt-5">
            <div class="card m-auto" style="max-width: 500px">
                <div class="h1 text-center text-white p-5 mb-5" style="background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%)">SIGN UP</div>
                <div class="card-body p-0">
                    <form id="signup" name="signup" class="pl-lg-3 pr-lg-3" action="/signup" method="post">
                        <div class="pl-5 pr-5">
                            <% if (message.length > 0) { %>
                                <div class="text-danger mb-5" role="alert">
                                    <i class="material-icons pr-2" style="font-size: 1.8rem;vertical-align: -8px;">
                                        error_outline
                                    </i>
                                    <%= message %>
                                </div>
                            <% } %>
                                <div class="d-none text-danger mb-5" role="alert" id="confirmCheck">
                                    <i class="material-icons pr-2" style="font-size: 1.8rem;vertical-align: -8px;">
                                        error_outline
                                    </i>
                                    Please enter the same password
                                </div>
                            <div class="md-form">
                                <i class="prefix grey-text material-icons">
                                    account_circle
                                </i>
                                <input type="text" id="username" name="username" class="form-control" onkeyup="signUpValidate()">
                                <label for="username" class="font-weight-light">Your Username</label>
                            </div>
                            <div class="md-form">
                                <i class="prefix grey-text material-icons">
                                    email
                                </i>
                                <input type="email" id="email" name="email" class="form-control" onkeyup="signUpValidate()">
                                <label for="email" class="font-weight-light">Your email</label>
                            </div>
                            <div class="md-form">
                                <i class="prefix grey-text material-icons">
                                    lock
                                </i>
                                <input type="password" id="password" name="password" class="form-control" onkeyup="signUpValidate()">
                                <label for="password" class="font-weight-light">Your password</label>
                            </div>
                            <div class="md-form mb-5">
                                <i class="prefix grey-text material-icons">
                                    vpn_key
                                </i>
                                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" onkeyup="signUpValidate()" onblur="passwordValidate()">
                                <label for="confirmPassword" class="font-weight-light">Confirm password</label>
                            </div>
                            <div class="row d-flex align-items-center mb-5 mt-5">
                                <div class="col-md-6 d-flex align-items-start">
                                    <div class="text-center">
                                        <button disabled type="submit" id="signUpBtn" class="btn btn-secondary btn-rounded z-depth-1a waves-effect waves-light" style="font-size:1rem;-webkit-border-radius:10em!important;border-radius:10em!important;">SIGN UP</button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p class="font-small grey-text d-flex justify-content-end mt-3">Have an account ? 
                                        <a href="/login" class="dark-grey-text ml-1 font-weight-bold"> Login</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            signUpValidate= () => {
                ($('#username').val()!=""&&$('#email').val() != ""&&$('#password').val() != ""&&$('#confirmPassword').val() != ""&&($('#password').val() == $('#confirmPassword').val()))?$('#signUpBtn').attr("disabled", false): $('#signUpBtn').attr("disabled", true);
            }
            passwordValidate = () =>{
                ($('#password').val() != $('#confirmPassword').val()) ? $('#confirmCheck').removeClass('d-none') : $('#confirmCheck').addClass('d-none');
            }
        </script>
        <% include ../partials/footer %>
    </body>
</html>
