<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div class="container mt-5">
        <div class="card pl-3 pr-3">
        <div class="p-5 text-left m-md-5">
            <h1 class="font-weight-light mt-3 mb-5">
                My Silicon Wallet
            </h1>
            <div class="container pl-1 pr-1">
                <img class="wallet-image" src="..../public/images/silicon_wallet.png">
            </div>
            <h2 class="font-weight-light mt-3 mb-5">
                Current Balance :
            </h2>
        </div>
        </div>
    </div>
    <% include ../partials/footer %>
</body>
</html>