<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div class="container mt-5">
        <div class="card pl-3 pr-3">
        <div class="p-5 text-center m-md-3">
            <h1 class="font-weight-light mt-3 mb-5">
                <strong>My Transaction History</strong>
            </h1>
        </div>    
        </div>
    </div>
    <script>
        
    </script>
    <% include ../partials/footer %>
</body>
</html>