<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <% include ../partials/header %>
    <div class="container mt-5">
        <div class="card pl-3 pr-3">
        <div class="p-5 text-center m-md-3">
            <h1 class="font-weight-light mt-3 mb-5">
                <strong>My Silicon Wallet</strong>
            </h1>
            <div class="container pl-1 pr-1">
                <img class="wallet-image" src="images/source/silicon_wallet.png">
            </div>
            <h2 class="font-weight-light pt-3 pb-3 mt-5 mb-5">
                Current Balance : SGD <%= itemList[0].balance %>
            </h2>
            <a>
                <button id="topup" type="button" class="btn btn-success btn-lg">
                Top Up My Wallet
                </button>
            </a>
            <a href="/payment">
                <button type="button" class="btn btn-info btn-lg">
                Go To My Payment Details
                </button>
            </a>
            <a href="/transactions">
                <button type="button" class="btn btn-secondary btn-lg">
                Go To My Transaction History
                </button>
            </a>
        </div>
        </div>
    </div>
    <script>
        $("#topup").click(function () {
            checkPaymentTable();
        });
        function checkPaymentTable() {
            console.log("<%=paymentData%>");
            var empty = "<%=paymentData%>";
            if (empty == 0) {
                alert("Please add your payment details first!");
                window.location.href= "/payment";
            }
            else {
                window.location.href= "/payment/select";
            }
        }
    </script>
    <% include ../partials/footer %>
</body>
</html>